[Unit]
Description=Aura Platform Service: vsftpd (newtobinparadigm)
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/vsftpd /aura/configuration/binoc/newtobinparadigm/vsftpd/vsftpd.conf

[Install]
WantedBy=multi-user.target
