[Unit]
Description=Aura Platform Service: vsftpd (palemoon)
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/vsftpd /aura/configuration/mcp/palemoon/vsftpd/vsftpd.conf

[Install]
WantedBy=multi-user.target
